<p ng-show="showError" ng-class="{red: error}">Wpisz komentarz</p>

<ANY ng-show="showCommentsContainer[umowa.umowaId]">
	<form ng-submit="submitComment(umowa.umowaId)" class="comment-form" >
	<!-- 	<input type="text" ng-model="commentNick" name="commentNick" />
	 -->
	 	<textarea class="form-control comment-form-input" ng-model="commentTxt" name="commentTxt" cols="50" rows="3">
		</textarea>
		<div class='comment-form-spacer'></div>
		<div class="row">
	  		<div class="col-xs-8"></div>
			<div class="col-xs-4"><input class="btn btn-success btn-sm comment-form-submit" type="submit" align="right" id="submit" value="Dodaj" /></div>	
		</div>	
	</form>
			
	<div class="comment-form-input">	
	 <ANY ng-repeat="komentarz in komentarze[umowa.umowaId].slice(0);">
<!-- 		<div class="row">
		  <div class="col-xs-12 text-left comment-nick">{{getNick(komentarz.nick); nick}}</div>
		</div> -->	
		<div class="row">
		  <div class="col-xs-12 text-left comment-date">{{getCommentData(komentarz.data); commentData}}</div>
		</div>	
		<div class="row">
		  <div ng-bind-html="processComment(komentarz.komentarz);" class="col-xs-12 text-left comment-text"></div>
		</div>
	</ANY>
	</div>
</ANY>
