
<ANY ng-show="showFilesContainer[umowa.umowaId]" >
	<div style="height: 5px"></div>
	<ANY ng-repeat="plik in filesForUmowa[umowa.umowaId].slice(0);">
		<div class="row">
			<div class="col-xs-8 file-desc">{{plik.opis}}</div>
			<div class="col-xs-2 file-desc-button">
				<a class="btn btn-link btn-xs" target="_blank" href="{{BackendUrl}}/upload/{{getBaseFilename(plik.plik);}}">Poka&#380;</a>
			</div>		
			<div class="col-xs-2 file-desc-button">
				<a class="btn btn-link btn-xs " target="_blank" href="{{PHPBackend}}/getFile.php?f={{getBaseFilename(plik.plik);}}">Zapisz</a>
			</div>
			<!-- <div class="col-xs-1"></div>
			 -->
		</div>
	 </ANY>
	<div style="height: 5px"></div>
</ANY>
 