<div class="umowa-container">

<div class="umowa-container-top">
	<table class="umowa-container-top-table">
		<tr>
	 		<td width="30%" class="umowa-data">
				{{umowa.data}}
			</td>
			<td width="30%" class="umowa-id">
				{{getShortUmowaStr(umowa.umowa); shortUmowaId}}
			</td>
			<td width="30%" class="umowa-cena">
				{{umowa.cena | number:2}}
			 </td>
			 <td align="right">
			   <a class="btn btn-primary btn-sm"
			   	style="margin-right: 2px;"
			   	ng-click="sendEvent('FacebookShare','image');" 
			   	href='http://www.facebook.com/share.php?u={{PHPBackend}}/fbSingleShare_v2.php?data={"cruId":"{{cruId}}","umowaId":"{{umowa.umowaId}}"}'>
			    	<b>F</b>
			    </a>
			 </td>
	 	</tr>
	</table>
</div>

<!--  	<br/>{{PHPBackend}}/fbSingleShare.php?data={"cruId":"{{cruId}}","umowaId":"{{umowa.umowaId}}"} -->

			
	<div class="umowa-title" ng-click="setSearchString(umowa.zlecenioBiorca);">
		<button class="umowa-title-button" >
			{{getShortString(umowa.zlecenioBiorca, 55); }}
		</button>
	</div>

	<div class="umowa-opis ">{{umowa.umowaOpis}}</div>

	<div class="row umowa-buttons-container">
		<div class="col-xs-6 comment-button-files">
			<button ng-disabled="!umowa.plikCount" ng-click="getFilesForRecord(umowa.umowaId);" type="button" class="btn btn-default btn-sm btn-block" >
				{{getShowFilesButton(umowa.umowaId, umowa.plikCount);}}
			</button>
		</div>
		<div class="col-xs-6 comment-button-comments">
			<button ng-click='getCommentsForUmowa(umowa.umowaId);' type="button" class="btn btn-default btn-sm btn-block" >
				{{getShowCommentButton(umowa.umowaId, umowa.commentsCount);}}
			</button>
		</div>		
	</div>

	<div ng-include src="templates.umowa.box.comments.url" class="umowa-comments-container"></div>
	<div ng-include src="templates.umowa.box.files.url" class="umowa-files-container"></div>

</div> 