<div id="activeRegistryLabel">

	<input type="text" ng-model="tags.newTag" name="newTag" />
	<button type="button" ng-click="tags.addTag( newTag );" class="btn btn-success btn-sm">
		Dodaj
	</button>

	<button class="btn btn-danger btn-sm" ng-click="tags.submit()" style="margin-left: 20px; margin-right:30px;" type="button">
		Zatwierdz
	</button>
	<font style="color: #dedede;">Rejestr </font>
	{{registryName}}
</div>

<div style="z-index: 10;" class="navbar navbar-fixed-top navbar-inverse" role="navigation">
      <div style="z-index: 10;" class="container">
        <div style="z-index: 10;" class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">TRUP</a>
        </div>
        <div class="collapse navbar-collapse">
			<ul class="nav navbar-nav">
           		<li class="dropdown">
					<a href="" class="dropdown-toggle" data-toggle="dropdown">Rejestry <b class="caret"></b></a>
	            	<ul class="dropdown-menu">
						<li class="dropdown-header" style="font-weight: bold; color: #898989;">Szczecin</li>
	    	        	<li><a href="#/home/0" >Urz&#261;d Miasta</a></li>
		                <li class="divider"></li>
						<li class="dropdown-header" style="font-weight: bold; color: #898989;">Milan&#243;w</li>
	    	        	<li><a href="#/home/1">Urz&#261;d Miasta</a></li>
		                <li class="divider"></li>
						<li class="dropdown-header" style="font-weight: bold; color: #898989;">Ministerstwa</li>
	    	        	<li><a href="#/home/2">Kultury i Dziedzictwa Narodowego</a></li>
	    	        	
<!-- 		                <li class="divider"></li>
 --><!-- 		                <li class="dropdown-header" style="font-weight: bold; color: #898989;">Reklama</li>
 -->
<!--  	    	        	<li><a href="#/">Moj rejestr</a></li>
 --><!-- 		                <li class="divider"></li> -->
			         </ul> 
				</li>	
 				<li class="dropdown">
					<a href="" class="dropdown-toggle" data-toggle="dropdown">Statystki <b class="caret"></b></a>
	            	<ul class="dropdown-menu">
	    	        	<li><a href="#/stats/by_month/{{cruId}}/anonimizacja" >Anonimizacja</a></li>
	    	        	<li><a href="#/stats/group_by_company/{{cruId}}" >Firmy</a></li>
			         </ul> 
				</li>	
 				<li class=""><a href="#/info">Info</a></li>
              <!--
              <li class="dropdown">
               <a href="" class="dropdown-toggle" data-toggle="dropdown">Admin <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="#/admin" target="_blank">TRUP</a></li>
                <li><a href="/lib/phpmyadmin/" target="_blank">PhpMyAdmin</a></li>
                <li class="dropdown-header">Nav header</li>
                <li><a href="#">Separated link</a></li>
                <li><a href="#">One more separated link</a></li>
              </ul> 
            </li> -->
          </ul>
        </div><!-- /.nav-collapse -->
      </div><!-- /.container -->
    </div><!-- /.navbar -->
 