#mainContainer {
    border: 0px;
    
    position: relative;
    top: 70px;
    width: 90%;
    padding: 0px 0px 20px 0px;
}

#angularView {
/* 	background-color: #f5f5f5;
     border: 1px solid #ccc; */
	padding: 0px 0px 0px 0px;
}

#searchTableContainer {
	background-color: #e5e5e5;
    border: 1px solid #ccc;
	padding: 20px 20px 0px 20px;
	width: 100%;
}

#logoContainer 
{
	transform:rotate(180deg);
	-ms-transform:rotate(180deg); /* IE 9 */
	-webkit-transform:rotate(180deg); /* Safari and Chrome */
	z-index: 20;
    position: fixed;
    right: 15px;
    top: -3px;
    padding: 0;
}

#activeRegistryLabel {

	z-index: 30;
    position: fixed;
    right: 135px;
    top: 15px;
    padding: 0;
    color: #0eace0;
}

.mainInfo {
    border: 1px solid #ccc;
    background-color: #f5f5f5;
}

#info2 {
 
}

.search-table {
	width: 80$;
}

.content-table {
	width: 80%;
}

.row0{
	background: #edf3fe;
}

.row1{
	background: #ffffff;
}

.tableFiles {
	background: #fcf5ea;
}

.tableMainSortRow {
	background: #563d7c;	
}

.totalPrice {
	/* font-size: 80%; */
	text-decoration: none; 
	background: #000000;
	color: #ffffff;
	
}

/* 
a.boxesSorter, a.boxesSorter:link, 
.boxesSorter:visited,
.boxesSorter {
	text-decoration: none; 
	color: black; 
	text-weight: bold;
	padding: 10px 0px 10px 0px;
	margin: 10px 0px 10px 0px;
}
*/
a.tableMainSortRow:hover, a.tableMainSortRow:active {
	text-decoration: none; 
	color: #e9dbff;
	text-weight: bold;
}

a.tableMainSortRow, a.tableMainSortRow:link, 
a.tableMainSortRow:visited,
.tableMainSortRow {
	text-decoration: none; 
	color: #c1aedc; 
	text-weight: bold;
	margin: 10px 0px 10px 0px;
} */

a.tableMainSortRow:hover, a.tableMainSortRow:active {
	text-decoration: none; 
	color: #e9dbff;
	text-weight: bold;
}

.tableMainTotalRow {
	background: #745b98; 
	text-decoration: none; 
	color: #ffffff;
	text-weight: bold;
	
}

.red {
	background-color: #ffd3d3;
    color: red;
}

.commentHeader {
	background-color: #ccffcc;
    color: black;
}

.commentHeaderTitle {
	background-color: #ccffcc;
    color: #006633;
}

.searchTableInputFileds {
/* 	font-size: 80%; 
 */	font-weight: bold;
}

.pagination {
	height: 40px;
}

/* #searchTypeContainer {
	position: relative;
	top: 50px;
	left: 90%;
} */