.stats-table-border {
	border: dotted 1.6px;	
}

.stats-table {
}

.stats-total {
	color: white;
	font-weight: plain;
	background: #3399ff;
	text-align: right;
}

tr.stats-row {
	background: #563b7e;
	color: #c1adda;

}

.stats-row-header {
	text-align: center;	
	font-weight: bold;
}

.stats-row-sub-header {
	text-align: center;	
	font-size: 90%;
	color: #ded3ec;
	background: #846ca9;
	
}
.stats-row-odd {
	background: #edf3ff;
	text-align: right;	
	
}

.stats-row-add {
	background: #ffffff;
	text-align: right;	
	
}