
.umowa-container-top-table {
	width: 100%;
}
	
.umowa-container-top {
	background-color: #dff0d7;
	color: #0d3b0d;
    border: 1px solid #ccc;
	margin-top: -7px;
	margin-bottom: -1px;
	margin-left: -15px;
	margin-right: -15px;

	padding-top: 3px;
	padding-bottom: 3px;
}

.umowa-title {
	background: #563d7c; 
	color: #e8dff6;
	font-weight: bold;
	font-size: 13px;
	padding-bottom: 8px;
	padding-top: 8px;
	height: 45px;
	margin-left: -15px;
	margin-right: -15px;
}

.umowa-title-button {
	background: #563d7c; 
	color: #e8dff6;
	font-weight: bold;
	font-size: 13px;
	display: table-cell;
	border: 0px;
	border:hidden;
}

.umowa-opis {
	font-size: 12px;
	text-align: left;
	padding-top: 10px;
/* 	padding-bottom: 8px;
 */	height: 105px;
/* 	background-color: #ff--;
 */	
}

.umowa-buttons-container {
	padding-bottom: 10px;	
}

.umowa-cena {
	padding-top: 5px;
	padding-bottom: 5px;
	padding-right: 10px;
	text-decoration: none; 
	font-size: 96%;
	font-weight: bold;
	text-align: right;
}

.umowa-id {
	padding-top: 5px;
	padding-bottom: 5px;
	text-decoration: none; 
	font-size: 96%;
	font-weight: bold;
	text-align: center;
}

.umowa-data {
	padding-top: 5px;
	padding-bottom: 5px;
	text-decoration: none; 
	font-size: 85%;
	font-weight: bold;
	align: left;
	text-align: left;
	padding-left: 10px;
}

.umowa-comments-container {
	background: #f5f5f5;
	margin-left: -15px;
	margin-right: -15px;
}

.comment-button-files {
	margin-left: 0px;
/* 	background: yellow;
 */
 }

.comment-button-comments {
	margin-right: 0px;
/* 	background: red;
 */
 }

.test {
	float:left;
	padding: 5px;
	width: 450px;
}
/* .umowa-comments-container-inside {
 	background: #f5f5f5;
 	padding-bottom: 120px;
	margin-left: 0px;
	margin-right: 0px;
}
 */
 
 .umowa-container {
 	background-color: #ffffff;
 	
    border: 1px solid #ccc;
	padding: 5px 15px 0px 15px;
	width: 100%;
	margin-bottom: 40px;	
}
 
.umowa-files-container {
	background: #f5f5f5;
 	margin-left: -15px;
	margin-right: -15px;
	padding-right: 20px;

}
	
.comments-container {
		background: #f5f5f5;
		margin-left: -15px;
		margin-right: -15px;
}

.comment-form {
	padding-left: 15px;		
	padding-right: 15px;		
	padding-top: 15px;
	padding-bottom: 15px;

	font-size: 11%;
}

.comment-form-input {
	padding-left: 15px;
	padding-right: 15px;
/* 		padding-top: 15px;
		padding-bottom: 15px;
 */}

.comment-form-spacer {
		padding-top: 0px;
		padding-bottom: 10px;
}

.comment-form-submit {
	background: #f5f5f5;
	font-size: 11%;
	;
}

.comment-nick {
	font-size: 95%;
	font-weight: bold;
	padding-top: 15px;
	background: #f5f5f5;
}

.comment-date {
	font-size: 90%;
/* 	font-weight: bold;
 */	padding-bottom: 0px;
	color: #a9a9a9;
	background: #f5f5f5;
}

.comment-text {
	font-size: 100%;
	padding-bottom: 15px;
	background: #f5f5f5;
}

.file-desc {
	padding-top: 5px;
	text-decoration: none; 
	font-size: 99%;
	font-weight: 300;
	text-align: right;
	color: #676767;	
	vertical-align: text-bottom;
}

.file-desc-button {
	padding-top: 5px;
	padding-bottom: 5px;
	margin-right:-10px;
/* 	text-decoration: none; 
	font-size: 89%;
	font-weight: bold;
	text-align: left;
	color: #a9a9a9;	
 */}


.verticalLine {
    border-left: thick solid #ff0000;
}

.horizontalLine {
    border-bottom: solid 1px #d4d4d4;
    margin: 0px -15px 0 -15px ;
}

.totalRow {
	background: #fcf8e2;
	color: #8b6e37;
	padding-top: 5px;
	padding-left:15px; 
	padding-right: 15px;
	padding-bottom: 7px;
	padding-top: 7px;
	border-radius:25px;
	text-align: center;
	
}