.raports-border {
	border: dotted 1.6px;	
}

.raports-border-bottom {
	border-bottom: dotted 1.6px;	
}

.raports-border-top {
	border-top: dotted 1.6px;	
}

.raports-border-left {
	border-left: dotted 1.6px;	
}

.raports-border-right {
	border-right: dotted 1.6px;	
}
/*
.stats-table {
}

.stats-total {
	color: white;
	font-weight: plain;
	background: #3399ff;
	text-align: right;
}

tr.stats-row {
	background: #563b7e;
	color: #c1adda;

}
*/
.raports-row-category {
	padding: 10px;
}

.raports-row-category-name {
	background: #5bc0de;
}

.raports-row-company-name {
	background: #e1d8ec;
	color: #563b7e;
	font-weight: bold;
}

.raports-row-header {
	text-align: center;	
	font-weight: bold;
	color: #ded3ec;
	background: #563b7e;
	padding: 5px;	
}


.raports-row {
	
	
}

.raports-row-sub-header {
	text-align: center;	
	font-size: 90%;
	font-weight: bold;
	color: #ded4e8;

	background: #846ca9;
}
 
.raports-row-odd {
	background: #edf3ff;
	text-align: right;	
	
}

.raports-row-add {
	background: #ffffff;
	text-align: right;	
	
}