<p class="alert alert-info mainInfo">
	Na stronie udost&#281;pnione s&#261; umowy zawarte przez <b>{{registryName}}</b>
</p>

<!-- <p class="alert alert-warning mainInfo">
	<b>W przygotowaniu....</b><br />
</p>
 -->
<div id="searchTableContainer">
	
	
	<div style="padding-bottom: 10px;" ng-include src="templates.search.input.url"></div>
	
	
	
	<ANY ng-include src="templates.search.box.output.url"></ANY>

</div>	  
	  
{{sendPage("umowy-tabelka.html");}}
	 