<div id="activeRegistryLabel">
	<font style="color: #dedede;">Rejestr </font>
	{{registryName}}
</div>

<div style="z-index: 10;" class="navbar navbar-fixed-top navbar-inverse" role="navigation">
      <div style="z-index: 10;" class="container">
        <div style="z-index: 10;" class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">TRUP</a>
        </div>
        <div class="collapse navbar-collapse">
			<ul class="nav navbar-nav">
           		<li class="dropdown">
					<a href="" class="dropdown-toggle" data-toggle="dropdown">Rejestry <b class="caret"></b></a>
	            	<ul class="dropdown-menu">
<!-- 						<li class="dropdown-header" style="font-weight: bold; color: #898989;">Urz&#261;d Gminy</li>
 -->	
	<!-- 					<li class="divider"></li>
	 -->					<li class="dropdown-header" style="font-weight: bold; color: #898989;">Urz&#261;d Miasta</li>
	       	        	<li><a href="#/home/5">K&#281;ty</a></li>
	       	        	<li><a href="#/home/1">Milan&#243;w</a></li>
	    	        	<li><a href="#/home/4">O&#322;awa</a></li>
	    	        	<li><a href="#/home/0">Szczecin</a></li>
		                <li class="divider"></li>
						<li class="dropdown-header" style="font-weight: bold; color: #898989;">Ministerstwa i pozosta&#322;e</li>
	    	        	<li><a href="#/home/2">Kultury i Dziedzictwa Narodowego</a></li>
	    	        	<li><a href="#/home/3" >Urz&#261;d Marsza&#322;kowski<br/>Wojew&#243;dztwa Zachodniopomorskiego</a></li>
			         </ul> 
				</li>	
 				<li class="dropdown">
					<a href="" class="dropdown-toggle" data-toggle="dropdown">Statystki <b class="caret"></b></a>
	            	<ul class="dropdown-menu">
	    	        	<li><a href="#/stats/by_month/{{cruId}}/anonimizacja" >Anonimizacja</a></li>
	    	        	<li><a href="#/stats/group_by_company/{{cruId}}" >Firmy</a></li>
<!--   	    	        	<li><a href="#/stats/raports/{{cruId}}" >Raporty</a></li>
 --> 			         </ul> 
				</li>	
 				<li class=""><a href="#/info">Info</a></li>
              <!--
              <li class="dropdown">
               <a href="" class="dropdown-toggle" data-toggle="dropdown">Admin <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="#/admin" target="_blank">TRUP</a></li>
                <li><a href="/lib/phpmyadmin/" target="_blank">PhpMyAdmin</a></li>
                <li class="dropdown-header">Nav header</li>
                <li><a href="#">Separated link</a></li>
                <li><a href="#">One more separated link</a></li>
              </ul> 
            </li> -->
          </ul>
        </div><!-- /.nav-collapse -->
      </div><!-- /.container -->
    </div><!-- /.navbar -->
 