<ANY ng-include src="templates.common.top_menu.url"></ANY>

<link rel="stylesheet" href="css/raports.css" />

<center>
<!-- <div style="align: center; width: 640px; margin: 0px auto 0px auto;">
 -->
<div class="alert alert-info mainInfo" style="width:590px; margin-left: 0">
	Statystyki przedstawiaj&#261; dla ka&#380;dej firmy - ilo&#347;&#263; 
	zawartych um&#243;w, oraz &#322;&#261;czna ich warto&#347;&#263;.</b><br/>
</div>

<ANY ng-include src="templates.raports.header.url"> </ANY>
			
	<table border='0' style="max-width: 740px">
	<tbody>
		<tr>
			<td style="width: 5%">
			</td>
		
			<td  style="width: 30%" class="raports-border-right raports-row-header">
				Kategoria
			</td>
			<td  style="width: 30%" class="raports-border-right raports-row-header">
				Ilo&#347;&#263;
			</td>
			<td style="width: 30%" class="raports-row-header">
				Warto&#347;&#263;
			</td>
			
			<td style="width: 5%">
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr style="height: 30px"">
			<td style="width: 5%">
			</td>
		
			<td  style="width: 30%" class="raports-border-right raports-row-header">

			</td>
			<td  style="width: 30%" class="raports-border-right raports-row-sub-header">
				{{total['count'] | number}}
			</td>
			<td style="width: 30%; text-align: right; padding-right: 10px" class="raports-border-right raports-row-sub-header">
				{{total['prize'] | number: 2}}
			</td>
			
			<td style="width: 5%">
			</td>
		</tr>
	</tbody>
	<tbody style="width: 340px;"
		ng-repeat="cat in statsTotal"
		ng-if="cat.count != 0">
	
		<tr>
			<td>
			</td>
			<td 
				style=" padding-left: 10px; width: 140px; text-align: left;" 
				class="raports-border raports-row-sub-header">
				{{cat.tag}}
			</td>
			<td 
				style="width: 60px; text-align: center" 
				class="raports-border-right raports-row-category"
				ng-class-odd="'raports-row-odd'"
				ng-class-even="'raports-row-add'" >
				{{cat.count}}
			</td>
			<td 
				style="width: 140px" 
				class="raports-border-right raports-row-category"
				ng-class-odd="'raports-row-odd'"
				ng-class-even="'raports-row-add'" >
				{{cat.cena | number : 2}}
			</td>
			<td style="width: 10px">
				<button 
					style="margin-left: 20px; width: 100px"
					type="button" 
					class='btn btn-sm btn-success'
					ng-click="toggleTagDetails( cat.tag );">
					{{statsDeailsButtonLabel[cat.tag]}}
				</button>
			</td>

		</tr>
		<tr>
			<td colspan=6 >
				
			
				<ANY ng-if="cat.count != 0" ng-include src="templates.raports.cat_entries.url"></ANY>
			</td>
		</tr>
	</tbody>
	</table>
	 
	<br/> 
	</center>
	

<!-- 

</div>
 -->