<table border="0" cellpadding=8>
	<tr>
		<td>
			<div class="btn-group" >
			  <button ng-style="buttonMonthsStyle" style="width: 140px" type="button" class="btn btn-sm btn-default dropdown-toggle" data-toggle="dropdown">
			  		{{monthChoosen}} {{monthButtonStyle}}
			    <span class="caret"></span>
			  </button>
			  <ul class="dropdown-menu" role="menu">
				<li ng-repeat='month in months | reverse'> 
					<a ng-click="setMonth(month);">{{month.year}} {{month.month}}</a>
				</li>
			  </ul>
			</div>
		</td>
		
		<td>
			<div class="btn-group">
				<button ng-style="buttonDaysStyle" style="width: 140px" type="button" class="btn btn-sm btn-default dropdown-toggle" data-toggle="dropdown">
					{{lastDaysChoosen}}
					<span class="caret"></span>
			  	</button>
			  
				<ul class="dropdown-menu" role="menu">
					<li ng-repeat='days in lastDays'> 
						<a ng-click="setLastDays(days);">{{days.name}}</a>
					</li>
			  </ul>
			</div>	
		</td>

	 	<td style="width: 100px">
			<input
				placeholder="data od..."
				id="SearchDateFrom"
				ui-date="{ dateFormat: 'yy-mm-dd' }" 
				ui-date-format="yy-mm-dd"
				ng-model="startDate"
				ng-change="setDateFromInput( startDate, stopDate );"
				style="width: 80px;">
		</td>
		
	 	<td style="width: 100px">
			<input
				placeholder="data do..." 
				id="SearchDateTo"
				ui-date="{ dateFormat: 'yy-mm-dd' }"
				ui-date-format="yy-mm-dd"
				ng-model="stopDate"
				ng-change="setDateFromInput( startDate, stopDate );"
				style="width: 80px; margin-right: -15px;">
		</td> 

	</tr> 
</table>


