<!-- <ANY ng-show="statsDeailsShow[cat.tag]">
 -->
 <div ng-init="css_id=getCssId( cat.tag );" id="{{css_id}}" >
 <!-- 
<div style="margin-bottom:10px">
</div>
 -->
<table cellpadding=5 style="border: solid 1.6px;">
	<tr
		ng-repeat="umowa in statsRecords[cat.tag]" 
		ng-class-odd="'raports-row-odd'" 
		ng-class-even="'raports-row-add'"
		raports-generated-directive 
		myId="{{css_id}}" >
		
		<td class="raports-border-bottom raports-row-company-name" style="font-size: 85%; text-align:left; width: 30%">
			{{umowa.firma}}
		</td>
		<td class="raports-border-bottom" style="font-size: 85%; text-align: left; width: 50%">
			{{umowa.opis}}	
		</td>
		<td class="raports-border-bottom" style="font-size: 85%; width: 15%; text-align: center">
			{{umowa.data}} 	
		</td>
		<td class="raports-border-bottom" style="font-size:88%; width: 20%">
			{{umowa.cena | number:2}}
		</td>
		
	</tr>	
</table>

<!-- <div style="margin-bottom:50px">
</div>
 -->
