<h4>TRUP</h4>
<ul>
	<li>czyli Totalny Rejest Um&#243;w Publicznych</li>
</ul>
<br/>

<h4>Obecna funkcjonalno&#347;&#263;</h4>
<ul>
	<li>przeszukiwanie wpis&#243;w um&#243;w publicznych zawartych przez Urz&#261;d Miasta Szczecin,</li>
	<li>wybrane skany um&#243;w (tylko 8 um&#243;w narazie),</li>
	<li>anonimowe komentarze (tak bardzo anonimowe jak anonimowy jest internet - ale nie gromadzimy &#380;adnych danych osobowych - chocia&#380; korzystamy z GoogleAnalytics).</li>
</ul>
<br/>

<h4>Plany</h4>
<ul>
	<li>dodanie pozosta&#322;ych skan&#243;w um&#243;w,</li>
	<li>dodawanie nast&#281;pnych rejestr&#243;w</li>
</ul>

{{sendPage("info.html");}}

