<p class="alert alert-info mainInfo">
	Na stronie udost&#281;pnione s&#261; umowy zawarte przez <b>{{registryName}}</b>
</p>


<div id="searchTableContainer">
	<div ng-include src="templates.search.input.url"></div>
	
<!-- ->
	{{PHPBackend}}/fbPost5.php?data={"cruId":"{{cruId}}","search":"{{searchString}}","dateFrom":"{{searchDateFrom}}", "dateTo":"{{searchDateTo}}"}
	<br/>
 	http://www.facebook.com/share.php?u={{FrontendUrl}}/json-api/api/fbPost2.php?data={"search":"{{searchString}}","dateFrom":"{{searchDateFrom}}", "dateTo":"{{searchDateTo}}"}
<!- -->
 	<br/>
	<table class="table">
	  <tr>
	  	<td width="270px">
			<button ng-disabled="obecnaStrona==0" ng-click="obecnaStrona=0; sendEvent('PageNavigate','First');">
				<span class="glyphicon glyphicon-fast-backward"></span>
			</button>
		 	<button ng-disabled="obecnaStrona == 0" ng-click="obecnaStrona=obecnaStrona-1; sendEvent('PageNavigate','Previous');">
				<span class="glyphicon glyphicon-backward"></span>
			</button>
			{{obecnaStrona + 1}} / {{iloscStron + 1}}
			<button ng-disabled="obecnaStrona == iloscStron" ng-click="obecnaStrona=obecnaStrona+1; sendEvent('PageNavigate','Next');">
				<span class="glyphicon glyphicon-forward"></span>
			</button>
			<button ng-disabled="obecnaStrona == iloscStron" ng-click="obecnaStrona=iloscStron; sendEvent('PageNavigate','Last');">
				<span class="glyphicon glyphicon-fast-forward"></span>
			</button>
	  	</td>
	
	<!-- 	<td>
			<font style="font-size: 80%">Ilo&#347;&#263; rekord&#243;w <b>{{umowy.length|number}}</b></font>
		</td> -->
	  	  
	    <td align="center">
			<button ng-disabled="displayFontSize == 0" ng-click="displayFontSize=displayFontSize-10; sendEvent('Zoom','Out');">
				<span class="glyphicon glyphicon-zoom-out"></span>
			</button>
	<!-- 		{{displayFontSize}}% -->
			<button ng-disabled="displayFontSize == 150" ng-click="displayFontSize=displayFontSize+10; sendEvent('Zoom','In');">
				<span class="glyphicon glyphicon-zoom-in"></span>
			</button>
		</td>
		
	   <td align="right">
	    	<font style="font-size: 80%">Poka&#380; na stronie </font>
	        <select ng-init="displayEntriesLimit = 50" ng-model="displayEntriesLimit" ng-change="updatePageCount(); sendEvent('Entries',displayEntriesLimit);">
				<option value="10">10</option>
				<option value="25">25</option>
				<option value="50">50</option>
				<option value="100">100</option>
			</select>
		</td>
	  </tr>
	</table>
	
	<table id="searchObjResults" class="table table-bordered content-table table-condensed">
	 	<tr class="tableMainSortRow" style="font-size: {{displayFontSize+10}}%;">
	 		<th style="text-align: center;">
	 			<a class="tableMainSortRow" ng-click="obecnaStrona = 0; predicate = 'umowa'; reverse=!reverse; resortUmowyByUmowa(reverse);">CRU</a>
	 		</th>
			
			<th style="text-align: center;"><a class="tableMainSortRow" ng-click="obecnaStrona = 0; predicate = 'data'; reverse=!reverse; resortUmowyByData(reverse);">Data</a></th>
			<th style="text-align: left;"><a class="tableMainSortRow" ng-click="obecnaStrona = 0; predicate = 'zlecenioBiorca'; reverse=!reverse; resortUmowyByFirma(reverse);">Zleceniobiorca</a></th>
			<th><a class="tableMainSortRow" ng-click="obecnaStrona = 0; predicate = 'umowaOpis'; reverse=!reverse; resortUmowyByOpis(reverse);">Opis</a></th>
			<th style="text-align: center;"><a class="tableMainSortRow" ng-click="obecnaStrona = 0; predicate = 'cena'; reverse=!reverse; resortUmowyByCena(reverse); ">Cena</a></th>
			<th style="width: 100px; text-align: center;">
				<a class="tableMainSortRow" ng-click="obecnaStrona = 0; predicate = 'plikCount'; reverse=true; resortUmowyByPliki(reverse);">Pliki /</a> 
				<a class="tableMainSortRow" ng-click="obecnaStrona = 0; predicate = 'commentsCount'; reverse=true; resortUmowyByComments(reverse);">Kom.</a>
			</th>
		</tr>
	  	<tr ng-show="totalPriceShow" class="{{totalPriceClass}} tableMainTotalRow" style="font-size: {{displayFontSize}}%;">
			<td colspan="4">
				Ilo&#347;&#263; um&#243;w: {{umowy.length|number}}
			</td>  		
	 		<td colspan="2" >
	  			{{totalPrice | number:2}}
	  		</td>
	  	</tr>
	   	<tbody ng-repeat="umowa in umowy.slice(obecnaStrona*displayEntriesLimit,obecnaStrona*displayEntriesLimit+displayEntriesLimit)| orderBy:predicate:reverse | limitTo:displayEntriesLimit" style="font-size: {{displayFontSize}}%;">
	
	   		<tr ng-class-odd="'row0'" ng-class-even="'row1'">
				<td style="text-align: center;"><b style="font-size:110%">{{getShortUmowaStr(umowa.umowa); shortUmowaId}}</b></td>
				<td style="text-align: center; width:80px;">{{umowa.data}}</td>
				<td>
					{{umowa.zlecenioBiorca}}
	<!-- 				<a href="{{getFirmaLink(umowa.zlecenioBiorca); firmaLink}}">{{umowa.zlecenioBiorca}}</a>
					<button ng-click="getFilesForRecord(umowa.umowaId);" ng-show="{{umowa.plikCount|number:0}}" ng-init="" class="btn btn-success btn-xs">
						
					</button>
	 -->
	 			</td>
				<td>{{umowa.umowaOpis}}</td>
				<td style="text-align: right;">{{umowa.cena | number:2}}</td>
				<td>
					<font style="font-size:90%">Komentarze: {{umowa.commentsCount | number : 0 }} <br />
						Pliki {{umowa.plikCount | number : 0 }} <br />
					</font>
					<button ng-click="getCommentsAndFilesForUmowa(umowa.umowaId);" ng-show="1" ng-init="showCommentsButton[umowa.umowaId]='Poka&#380;'" class="btn btn-success btn-xs">
						{{showCommentsButton[umowa.umowaId]}}
					</button>
				</td>
			</tr>
			
			<tr >
				<td colspan="10" ng-show="showCommentsContainer[umowa.umowaId]">
					
					<table class="table table-bordered table-striped table-condensed">
						<tr>
							<td style="width:50%;">
								<h5>Pliki</h5>
							</td>
							<td style="width:50%;">
								<h5>Komentarze</h5>
							</td>
						</tr>
						
						<tr>
							<td>
								<table ng-show="showCommentsContainer[umowa.umowaId]">
						 			<tr ng-repeat="plik in filesForUmowa[umowa.umowaId].slice(0);">
							 			<td style="width: 130px;"><b>{{plik.opis}}</b></td>
							 			<td style="width: 200px;"><font style="font-size: 90%">{{getBaseFilename(plik.plik);}}</font></td>
							 			<td style="width: 60px;" colspan="1"><a class="btn btn-xs btn-info" target="_blank" href="{{BackendUrl}}/upload/{{getBaseFilename(plik.plik);}}">Poka&#380;</a></td>
							 			<td style="width: 60px;" colspan="1"><a class="btn btn-xs btn-info" target="_blank" href="{{PHPBackend}}/getFile.php?f={{getBaseFilename(plik.plik);}}">Zapisz</a></td>
							 			<td colspan="14"></td>
									</tr>
								</table>
							</td>
						
							<td>
								<form ng-submit="submitComment(umowa.umowaId)" >
								 <table class="table table-noborder">
									 <!-- <tr class="commentHeaderTitle">
										<td colspan="2" style="height: 30px; font-size:120%;">
											<b>Nowy komentarz</b>
										</td>
									</tr> -->
									 <tr>
									 	<td>
									 		Ksywa
									 	</td>
									 	<td>
	    									 <input type="text" ng-model="commentNick" name="commentNick" />
									 	</td>
								 	</tr>
									 <tr>
									 	<td valign="top">
									 		Komentarz
									 	</td>
									 	<td>
	  								 		<textarea ng-class="{strike: deleted, bold: important, red: error}" class="form-control"  ng-model="commentTxt" name="commentTxt" cols="50" rows="5">
	  								 		</textarea>
											<p ng-show="showError" ng-class="{red: error}">Wpisz komentarz</p>
	  								 		
									 	</td>
								 	</tr>
									 <tr>
									 	<td>
									 	</td>
									 	<td align='center'>
	       									<input class="btn btn-success btn-xs" type="submit" id="submit" value="Dodaj" style="width: 100px" />
			 						 	</td>
								 	</tr>
								 </table>
					 
			 					</form>
							
								<table class="table" ng-repeat="komentarz in komentarze[umowa.umowaId].slice(0);">
				 					<tbody>
				 						<tr>
						 					<td class="commentHeader" style="width: 200px;"><font style="font-size: 95%"><b>Ksywa: </b> {{getNick(komentarz.nick); nick}}</font></td>
						 					<td class="commentHeader" ></td>
						 					<td class="commentHeader" style="width: 150px;"><font style="align: right; font-size: 95%">{{getCommentData(komentarz.data); commentData}}</font></td>
										</tr>
				 						<tr>
						 					<td colspan="3">
     											<p ng-bind-html="processComment(komentarz.komentarz);"></p>
     									<!-- 		<br/>
     											<p ng-bind-html="processComment(komentarz.komentarz);"></p>
     											<br/>
						 						<font style="font-size: 118%">{{processComment(komentarz.komentarz);}}</font> -->
						 					</td>
										</tr>
									</tbody>
								</table>
								
							</td>
							
						</tr>
					</table>
									
				</td>
			</tr>
		</tbody>
				
	</table>
		  
	
	<table class="table">
	  <tr>
	  	<td width="270px">
			<button ng-disabled="obecnaStrona==0" ng-click="obecnaStrona=0; sendEvent('PageNavigate','First');">
				<span class="glyphicon glyphicon-fast-backward"></span>
			</button>
		 	<button ng-disabled="obecnaStrona == 0" ng-click="obecnaStrona=obecnaStrona-1; sendEvent('PageNavigate','Previous');">
				<span class="glyphicon glyphicon-backward"></span>
			</button>
			{{obecnaStrona + 1}} / {{iloscStron + 1}}
			<button ng-disabled="obecnaStrona == iloscStron" ng-click="obecnaStrona=obecnaStrona+1; sendEvent('PageNavigate','Next');">
				<span class="glyphicon glyphicon-forward"></span>
			</button>
			<button ng-disabled="obecnaStrona == iloscStron" ng-click="obecnaStrona=iloscStron; sendEvent('PageNavigate','Last');">
				<span class="glyphicon glyphicon-fast-forward"></span>
			</button>
	  	</td>
	
	<!-- 	<td>
			<font style="font-size: 80%">Ilo&#347;&#263; rekord&#243;w <b>{{umowy.length|number}}</b></font>
		</td> -->
	  	  
	    <td align="center">
			<button ng-disabled="displayFontSize == 0" ng-click="displayFontSize=displayFontSize-10; sendEvent('Zoom','Out');">
				<span class="glyphicon glyphicon-zoom-out"></span>
			</button>
	<!-- 		{{displayFontSize}}% -->
			<button ng-disabled="displayFontSize == 150" ng-click="displayFontSize=displayFontSize+10; sendEvent('Zoom','In');">
				<span class="glyphicon glyphicon-zoom-in"></span>
			</button>
		</td>
		
	   <td align="right">
	    	<font style="font-size: 80%">Poka&#380; na stronie </font>
	        <select ng-init="displayEntriesLimit = 50" ng-model="displayEntriesLimit" ng-change="updatePageCount(); sendEvent('Entries',displayEntriesLimit);">
				<option value="10">10</option>
				<option value="50">50</option>
				<option value="100">100</option>
				<option value="200">200</option>
				<option value="500">500</option>
			</select>
		</td>
	  </tr>
	</table>
	
</div>	  
	  
{{sendPage("umowy-tabelka.html");}}
	 
