<!-- <div id="searchTypeContainer">
	<button ng-click="switchSearchDisplay();" type="button" class="btn btn-success btn-md" >
		{{switchSearchButtonLabel}}
	</button>
</div>
 -->
<ANY ng-include src="templates.common.top_menu.url">
</ANY>

<ANY ng-include src="template.url">
</ANY>