<table>
<tr>
	<td>
		<div
			ng-repeat="tag in tags.getTags(0) | orderBy:'tag':0" 
			style="width: auto; padding-right: 20px; margin-bottom: 4px;"
			ng-include src="templates.tags.add_tags_input.url">
	     
	 	</div>
	</td>
	<td>
		<div
			ng-repeat="tag in tags.getTags(1) | orderBy:'tag':0" 
			style="width: auto; padding-right: 20px; margin-bottom: 4px;"
			ng-include src="templates.tags.add_tags_input.url">
	     
	 	</div>
	</td>
	<td>
		<div
			ng-repeat="tag in tags.getTags(2) | orderBy:'tag':0" 
			style="width: auto; padding-right: 20px; margin-bottom: 4px;"
			ng-include src="templates.tags.add_tags_input.url">
	     
	 	</div>
	</td>
	<td>
		<div
			ng-repeat="tag in tags.getTags(3) | orderBy:'tag':0" 
			style="width: auto; padding-right: 20px; margin-bottom: 4px;"
			ng-include src="templates.tags.add_tags_input.url">
	     
	 	</div>
	</td>
	<td>
		<div
			ng-repeat="tag in tags.getTags(4) | orderBy:'tag':0" 
			style="width: auto; padding-right: 20px; margin-bottom: 4px;"
			ng-include src="templates.tags.add_tags_input.url">
	     
	 	</div>
	</td>
	<td>
		<div
			ng-repeat="tag in tags.getTags(5) | orderBy:'tag':0" 
			style="width: auto; padding-right: 20px; margin-bottom: 4px;"
			ng-include src="templates.tags.add_tags_input.url">
	     
	 	</div>
	</td>
</tr>
</table>

