
<link rel="stylesheet" href="css/main.css" />


<div style="width: 300px;">

<div class="text-highligh">Miliony złotych przeznaczają instytucje publiczne na „drobne wydatki” - na tyle drobne, że umowy
z nimi związane zawiera się z pominięciem procedur przetargowych. Pieniądze trafiają do tysięcy podwykonawców - firm remontowych, agencji PR, indywidualnych trenerów, konsultantów, dostawców sprzętu i wielu, wielu innych.
Czas przyjrzeć się tym „zapomnianym” umowom;
poznać kwoty na jakie są zawierane i porównać z innymi. Być może w sąsiednich gminach za te same usługi urzędy płacą zupełnie inne kwoty. Być może wybór oferentów nie jest przejrzysty, a publiczne zlecenia otrzymują „krewni i znajomi”...
</div>