
	
	<table width="100%" border="0">
	<tr>
		<td width="190px;">
			<table >
		<tr >
			<td colspan="2" class="searchTableInputFileds" style="font-size: {{displayFontSize}}%;">
				<input 
					placeholder="szukaj..."
					id="SearchString" 
					ng-model="searchString" 
					ng-change="setSearchString(searchString);" 
					style="width: 180px;">
			</td>
		</tr>
		<tr>
			<td class="searchTableInputFileds" style="font-size: {{displayFontSize}}%;">
			 	<input 
			 		placeholder="data od..."
			 		id="SearchDateFrom" 
			 		ui-date="{ dateFormat: 'yy-mm-dd' }"
			 		ui-date-format="yy-mm-dd" 
			 		ng-model="searchDateFrom" 
			 		ng-change="setDateFrom( searchDateFrom );" 
					style="width: 80px;">
			</td>
			<td class="searchTableInputFileds" style="font-size: {{displayFontSize}}%;">
				<input 
					placeholder="data do..."
					id="SearchDateTo" 
					ui-date="{ dateFormat: 'yy-mm-dd' }" 
			 		ui-date-format="yy-mm-dd" 
			 		ng-model="searchDateTo" 
			 		ng-change="setDateTo(searchDateTo);" 
					style="width: 80px; margin-right: -15px;">
			</td>
			</tr>
			</table>
 
 		</td>
 		
 		<td>
 			<button ng-click='searchReset()' type="button" class="btn btn-default btn-sm" >
				Wyczy&#347;&#263;
			</button>
			<ANY ng-include src="templates.search.box.sorter.url"></ANY>
 		</td>
 		<td align="right">
<!--  			
 -->		
	<table style="margin-bottom: 10px; width: 100%;" border=0>
	<tr>
		<td>
		</td>
		<td class="totalRow" style="width: 110px;">
			Ilo&#347;&#263; um&#243;w
			<br/> 
			<b>{{umowy.length|number}}</b>
		</td>
		<td style="width: 10px;">
		</td>
		<td class="totalRow" style="width: 150px;">
			&#321;&#261;czna warto&#347;&#263;
			<br/> 
			<ANY ng-if="totalPrice">
				<b>{{totalPrice | number:2}}</b> 
			</ANY> 
			<ANY ng-if="!totalPrice">
				<b><font style="font-size:80%">(za du&#380;o rekord&#243;w)</font></b> 
			</ANY>
		</td>
	</tr>
	</table>
		
 		</td>
 		<td>
 		
 		
 		<table cellpadding="1" border="0" style="width: 100%; margin-bottom: 20px;">
 			<tr>
 			<td></td>
 			<td align="right" width="220">
				<button  ng-click="switchSearchDisplay();" type="button" class="btn btn-success btn-sm" >
					{{switchSearchButtonLabel}}
				</button>
			
				<button ng-click="clipboardHelper()" type="button" class="btn btn-success btn-sm" >
					Link
				</button>
		     <a class="btn btn-primary btn-sm" ng-click="sendEvent('FacebookShare','image');" href='http://www.facebook.com/share.php?u={{PHPBackend}}/fbSearchShare.php?data={"cruId":"{{cruId}}","search":"{{searchString}}","dateFrom":"{{searchDateFrom}}", "dateTo":"{{searchDateTo}}"}'>
			    	Facebook
			    </a>
			</td>
		</tr>
</table>
 		
 		</td>
 	</tr>
 </table>
 