

<table class="table " >
	<tr>
		<td>	
			<a class="boxesSorter"
			ng-click="obecnaStrona = 0; predicate = 'umowa'; reverse=!reverse; resortUmowyByUmowa(reverse);">CRU</a>
		</td>
		<td>
		<a class="boxesSorter"
			ng-click="obecnaStrona = 0; predicate = 'data'; reverse=!reverse; resortUmowyByData(reverse);">Data</a>
		</td><td><a class="boxesSorter"
			ng-click="obecnaStrona = 0; predicate = 'zlecenioBiorca'; reverse=!reverse; resortUmowyByFirma(reverse);">Zleceniobiorca</a>
		</td><td><a class="boxesSorter"
			ng-click="obecnaStrona = 0; predicate = 'cena'; reverse=!reverse; resortUmowyByCena(reverse); ">Cena</a>
		</td><td><a class="boxesSorter"
			ng-click="obecnaStrona = 0; predicate = 'plikCount'; reverse=true; resortUmowyByPliki(reverse);">Pliki</a>
		</td><td><a class="boxesSorter"
			ng-click="obecnaStrona = 0; predicate = 'commentsCount'; reverse=true; resortUmowyByComments(reverse);">Kom</a>
		</td>
		<td width="270px">
			<button ng-disabled="obecnaStrona==0" ng-click="setFirstPage();">
				<span class="glyphicon glyphicon-fast-backward"></span>
			</button>
			<button ng-disabled="obecnaStrona == 0" ng-click="setPrevPage();">
				<span class="glyphicon glyphicon-backward"></span>
			</button> {{obecnaStrona + 1}} / {{iloscStron + 1}}
			<button ng-disabled="obecnaStrona == iloscStron"
				ng-click="setNextPage();">
				<span class="glyphicon glyphicon-forward"></span>
			</button>
			<button ng-disabled="obecnaStrona == iloscStron"
				ng-click="setLastPage();">
				<span class="glyphicon glyphicon-fast-forward"></span>
			</button>
		</td>

		<td align="center">
			<button ng-disabled="displayFontSize == 60"
				ng-click="setFontSmaller();">
				<span class="glyphicon glyphicon-zoom-out"></span>
			</button> <!-- 		{{displayFontSize}}% -->
			<button ng-disabled="displayFontSize == 150"
				ng-click="setFontBigger();">
				<span class="glyphicon glyphicon-zoom-in"></span>
			</button>
		</td>

		<td align="right"><font style="font-size: 80%">Poka&#380;
				na stronie </font> <select
			ng-init="entries_limit=25; setEntriesLimit( entries_limit )"
			ng-model="entries_limit" ng-change="setEntriesLimit( entries_limit )">
				<option value="10">10</option>
				<option value="25">25</option>
				<option value="50">50</option>
				<option value="75">75</option>
				<option value="100">100</option>
		</select></td>
	</tr>
</table>