<ANY ng-include src="templates.common.top_menu.url"></ANY>

<link rel="stylesheet" href="css/stats.css" />

<div style="align: center; width: 590px; margin: 0px auto 0px auto;">

<div class="alert alert-info mainInfo">
	Statystyki przedstawiaj&#261; dla ka&#380;dej firmy - ilo&#347;&#263; 
	zawartych um&#243;w, oraz &#322;&#261;czna ich warto&#347;&#263;.</b><br/>
</div>

<div class="btn-group" style="left: 480px;" >
  <button 
  	ng-init="resortFn=resortUmowyByData"
  	type="button" 
	class="btn btn-default btn-sm dropdown-toggle" 
  	ng-click="reverse=!reverse; resortFn(reverse);">
	<span class="glyphicon glyphicon {{getSortDirectionIcon(reverse);}}"
			style="padding-right: 15px;"></span>
		{{sortByLabel}}
	<span class="glyphicon glyphicon {{getSortDirectionIcon(reverse);}}"
			style="padding-left: 5px; margin-right: 5px;"></span>
  </button>
  
  <button type="button" class="btn btn-sm btn-default dropdown-toggle" data-toggle="dropdown">
    <span class="caret"></span>
    <span class="sr-only">Toggle Dropdown</span>
  </button>
  <ul class="dropdown-menu" role="menu">
		<li> 
			<a ng-click="sortByLabel='Ilosc'; reverse=0; resortByCount(reverse); resortFn=resortByCount;">Ilo&#347;&#263;</a>
		</li>
	  	<li> 
  			<a ng-click="sortByLabel='Cena'; reverse=0; resortByCena(reverse); resortFn=resortByCena;">Warto&#347;&#263;</a>
		</li>
 		<li> 
  			<a ng-click="sortByLabel='Firma'; reverse=0; resortByCompany(reverse); resortFn=resortByCompany;">Firma</a>
		</li>	
  </ul>
</div>


<table class="table stats-table stats-table-border" style="width: 100%; margin-top: 10px;">
	<tr class="stats-row">
		<td class="stats-row-header stats-table-border" style="text-align: center;">
			Firmy
		</td>
		<td class="stats-row-header stats-table-border">
			Ilo&#347;&#263;
		</td>
		<td class="stats-row-header stats-table-border">
			Warto&#347;&#263;
		</td>
	</tr>
	<tr 
		ng-repeat="firma in companies "
		ng-class-odd="'stats-row-odd'" 
		ng-class-even="'stats-row-add'">
	
		<td class="stats-table-border" style="text-align:left;">
			<a href="{{FrontendUrl}}/#/search_v2/{{cruId}}/{{firma.firma}}">
				
			{{getShortString(firma.firma, 50);}}
			</a>
		</td>
		
		<td class="stats-table-border">
			{{firma.count }}	
		</td>
		
		<td class="stats-table-border">
			{{firma.cena | number:2 }}	
		</td>
	
	</tr>
</table>

</div>
