<div class="btn-group">
  <button 
  	ng-init="resortFn=resortUmowyByData"
  	type="button" 
	class="btn btn-default btn-sm dropdown-toggle" 
  	ng-click="resetInfiniteScroll(); reverse=!reverse; resortFn(reverse);">
	<span class="glyphicon glyphicon {{getSortDirectionIcon(reverse);}}"
			style="padding-right: 15px;"></span>
		{{sortByLabel}}
	<span class="glyphicon glyphicon {{getSortDirectionIcon(reverse);}}"
			style="padding-left: 5px; margin-right: 5px;"></span>
  </button>
  
  <button type="button" class="btn btn-sm btn-default dropdown-toggle" data-toggle="dropdown">
    <span class="caret"></span>
    <span class="sr-only">Toggle Dropdown</span>
  </button>
  <ul class="dropdown-menu" role="menu">
  	<li> 
  		<a ng-click="resetInfiniteScroll(); sortBy = 'data'; sortByLabel='Data'; reverse=1; resortUmowyByData(reverse); resortFn=resortUmowyByData;">Data</a>
	</li>
  	<li> 
  		<a ng-click="resetInfiniteScroll(); sortBy = 'cena'; sortByLabel='Cena'; reverse=1; resortUmowyByCena(reverse); resortFn=resortUmowyByCena;">Cena</a>
	</li>
	<li> 
  		<a ng-click="resetInfiniteScroll(); sortBy = 'zlecenioBiorca'; sortByLabel='Firma'; reverse=0; resortUmowyByFirma(reverse); resortFn=resortUmowyByFirma;">Firma</a>
	</li>
		<li> 
  		<a ng-click="resetInfiniteScroll(); sortBy = 'plikCount'; sortByLabel='Pliki'; reverse=1; resortUmowyByPliki(reverse); resortFn=resortUmowyByPliki;">Pliki</a>
	</li>
  	<li> 
  		<a ng-click="resetInfiniteScroll(); sortBy = 'commentsCount'; sortByLabel='Komentarze'; reverse=1; resortUmowyByComments(reverse); resortFn=resortUmowyByComments;">Komentarze</a>
	</li>
	
  </ul>
</div>