<h2>{{yearId}}</h2>

<table class="table stats-table stats-table-border">
	<tr class="stats-row">
		<td class="stats-row-header stats-table-border">
		</td>
		<td colspan="2" class="stats-row-header stats-table-border">
			Ilo&#347;&#263;	Um&#243;w
		</td>
		<td colspan="2" class="stats-row-header stats-table-border">
			Warto&#347;&#263;	Um&#243;w
		</td>
		<td colspan="2" class="stats-row-header stats-table-border">
			Proporcje
			<div style="font-weight: normal; font-size: 90%">
			( {{shortCategory}} do wszystkie )
			</div>
		</td>	
	</tr>
	<tr class="stats-row">
		<td class="stats-row-sub-header stats-table-border">
			Miesi&#261;c
		</td>
		<td class="stats-row-sub-header stats-table-border">
			{{shortCategory}}
		</td>
		<td class="stats-row-sub-header stats-table-border">
			Wszystkie
		</td>
		<td class="stats-row-sub-header stats-table-border">
			{{shortCategory}}
		</td>
		<td class="stats-row-sub-header stats-table-border">
			Wszystkie
		</td>
		<td class="stats-row-sub-header stats-table-border">
			Ilo&#347;&#263;
		</td>
		<td class="stats-row-sub-header stats-table-border">
			Cena
		</td>
	</tr>
		<tr 
		ng-repeat="year in stats[yearId]" 
		ng-if="year.month != 0 && year.totalPrice != 0 "  
		ng-class-odd="'stats-row-odd'" 
		ng-class-even="'stats-row-add'">
		<td class="stats-table-border stats-row-sub-header">
			{{year.month}}
		</td>
		<td class="stats-table-border">
			{{year.categoryCount }}	
		</td>
		<td class="stats-table-border">
			{{year.totalCount }}	
		</td>
		<td class="stats-table-border">
			{{year.categoryPrice | number:2}}
		</td>
		<td class="stats-table-border">
			{{year.totalPrice | number:2}}
		</td>
		<td class="stats-table-border">
			{{ year.categoryCount / year.totalCount * 100 | number:2 }}%
		</td>	
		<td class="stats-table-border">
			{{ year.categoryPrice / year.totalPrice * 100 | number:2 }}%
		</td>	
	</tr>	
 	<tr class="stats-total">
		<td class="stats-table-border" style="text-align: center"> 
			Suma
		</td>
		<td class="stats-table-border">
			{{stats[yearId][0].categoryCount | number }}	
		</td>
		<td class="stats-table-border">
			{{stats[yearId][0].totalCount | number }}
		</td>
		<td class="stats-table-border">
			{{stats[yearId][0].categoryPrice | number:2 }}
		</td>
		<td class="stats-table-border">
			{{stats[yearId][0].totalPrice | number:2 }}
		</td>
		<td class="stats-table-border">
			{{stats[yearId][0].countProportion | number:2}}%
		</td>	
		<td class="stats-table-border">
			{{stats[yearId][0].priceProportion | number:2 }}%
		</td>	
	</tr>
</table>

<!-- 
<ANY  ng-repeat="year in stats[yearId] ">
					
	<ANY ng-switch="year.totalPrice==0">
		<ANY ng-switch-when="true"></ANY>
		<ANY ng-switch-default>
		
			<div class="row">
				<div class="col-xs-1">
					{{year.month}}	
				</div>
				<div class="col-xs-1">
					{{year.categoryCount }}	
				</div>
				<div class="col-xs-1">
					{{year.totalCount }}	
				</div>
				<div class="col-xs-2">
					{{year.categoryPrice | number:2}}
				</div>
				<div class="col-xs-3">
					{{year.totalPrice | number:2}}
				</div>
				<div class="col-xs-2">
					{{ year.categoryCount / year.totalCount * 100 | number:2 }} %
				</div>	
				<div class="col-xs-2">
					{{ year.categoryPrice / year.totalPrice * 100 | number:2 }} %
				</div>	
			</div>
		
		</ANY>
	</ANY>
</ANY> -->

