<ANY ng-include src="templates.common.top_menu.url">
</ANY>

<link rel="stylesheet" href="css/stats.css" />

<div style="align: center; width: 640px; margin: 0px auto 0px auto;">

<div class="alert alert-info mainInfo">
	Statystyki przedstawiaj&#261;ce um&#243;wy <b>zanonimizowane</b>. <br/><br/>
	Czyli takie umowy dla kt&#243;rych Urz&#261;d Miasta Szczecina zdecydowa&#322; si&#281; nie podawa&#263; zleceniobiorc&#243;w.
	Urz&#261;d udost&#281;pnia opis umowy, dat&#281; zawarcia oraz cen&#281; - ale nie podaje z kim umowa zosta&#322;a
	 zawrta.
	
</div>

<ANY ng-repeat="myYearId in stats.years" >
	<div 
		class="stats-container"
		style="padding-bottom: 5px"
		ng-include 
		src="templates.stats.by_month.year.url" 
		ng-controller="StatsByMonth"
		ng-init="init( myYearId )">
	</div>
	
</ANY>

</div>